.btn {
  font: 30px $sulphur;
  border: none;

  &--big {
    width: 170px;
    height: 50px;
    border-radius: 10px;
  }

  &--round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &--beige {
    background: $lightBeige;
  }

  &--brown {
    background: $brown;
  }
}