.cell {
  background: $lightBeige;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid $lightBeige;
  padding: 0;
  flex: 1 1 calc(33% - 8px);

  &:hover {
    border: 2px solid $brown;
  }

  @include tablet {
    width: 150px;
    height: 150px;
  }

  @include mobile {
    width: 120px;
    height: 120px;
  }

  &--tic {
    background-image: url(/src/pictures/tic.png);
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $lightBeige;

    @include tablet {
      background-size: 85px 130px;
    }

    @include mobile {
      background-size: 65px 100px;
    }
  }

  &--tac {
    background-color: $brown;
    background-image: url(/src/pictures/tac.png);
    background-size: 120px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $brown;

    @include tablet {
      background-size: 105px 130px;  
    }

    @include mobile {
      background-size: 80px 100px;
    }
  }
}