@font-face {
  src: url("../fonts/Short_Stack/ShortStack-Regular.ttf") format("truetype");

  font-family: ShortStack;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Sulphur_Point/SulphurPoint-Regular.ttf") format("truetype");

  font-family: Sulphur;
  font-weight: 400;
}