@font-face {
  src: url("../fonts/Coiny/Coiny-Regular.ttf") format("truetype");

  font-family: Coiny;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Sulphur_Point/SulphurPoint-Regular.ttf") format("truetype");

  font-family: Sulphur;
  font-weight: 400;
}