// COLORS
$beige: #f2d5ae;
$lightBeige: #fdf4e3;
$brown: #d7975b;

// FONTS
$coiny: Coiny, sans-serif;
$shortStack: ShortStack, sans-serif;

// MEDIA
$desktop-w: 1440px;
$tablet-w: 768px;
$mobile-w: 375px;

@mixin tablet {
   @media screen and (max-width: $desktop-w - 1) {
    @content
  }
}

@mixin mobile {
  @media screen  and (max-width: $tablet-w - 1) {
    @content
  }
}