// COLORS
$beige: #f2d5ae;
$lightBeige: #fdf4e3;
$brown: #d7975b;
$lightBrown: #e6a161;
$transparentBrown: rgb(69, 50, 46, 0.5);

$btnShadow: 4px 4px 4px 0px rgba(69, 50, 46, 0.25);


// FONTS
$sulphur: Sulphur, sans-serif;
$shortStack: ShortStack, sans-serif;

// MEDIA
$desktop-w: 1440px;
$tablet-w: 768px;
$mobile-w: 375px;

@mixin tablet {
   @media screen and (max-width: $desktop-w - 1) {
    @content
  }
}

@mixin mobile {
  @media screen  and (max-width: $tablet-w - 1) {
    @content
  }
}