mixin players()
  div.game_players
    div.game_players--1
      +playerIcon('player 1')(class="playerIcon--big playerIcon--beige")
      +playerIcon(class="playerIcon--round playerIcon--beige playerIcon--active")
    div.game_players--2
      +playerIcon(class="playerIcon--round playerIcon--brown playerIcon--active")
      +playerIcon('player 2')(class="playerIcon--big playerIcon--brown")  