mixin players()
  div.game_players
    div.game_players--1
      +playerIcon('player 1')(class="playerIcon--big playerIcon--beige")
      +playerIcon(class="playerIcon--round playerIcon--beige" id="c")
    div.game_players--2
      +playerIcon(class="playerIcon--round playerIcon--brown" id="player--2")
      +playerIcon('player 2')(class="playerIcon--big playerIcon--brown")  