mixin players()
  div.game_players
    div.game_players--1
      +btn('player 1')(class="btn--big btn--beige")
      +btn(class="btn--round btn--beige btn--active")
    div.game_players--2
      +btn(class="btn--round btn--brown btn--active")
      +btn('player 2')(class="btn--big btn--brown")  