* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.background {
  min-height: 100%;
  width: 100%;
  background: $beige;
  padding: 30px 30px 0px 30px;

  @include tablet {
    padding-bottom: 40px;
  }

  @include mobile {
    padding: 30px 15px 0px 15px;
  }
}

.game {
  width: 100%;
  min-height: 100%;

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
    }

    &-name {
      font: 70px $shortStack;
      margin: 0;
      margin: 0px 15px 0px 15px;
      
      @include tablet {
        font-size: 50px;
        margin: 0px 10px 0px 10px;
      }

      @include mobile {
        font-size: 34px;
      }
    }


    &-img--dog {
      width: 130px;
      height: 140px;
      
      @include tablet {
        width: 110px;
        height: 120px;
      }

      @include mobile {
        width: 90px;
        height: 100px;
      }
      }


    &-img--cat {
      width: 120px;
      height: 140px;

      @include tablet {
        width: 100px;
        height: 120px;
      }

      @include mobile {
        width: 80px;
        height: 95px;
      }
    }
  }
}