include ../components/cell/cell
include ../components/btn/btn
include ../containers/players/players
include ../containers/field/field
include ../containers/score/score
include ../components/modal/modal

div.background 
  div.game
    div.game_title
      img.game_title-img--cat(src="./pictures/cat.png", alt="cat")
      p.game_title-name Tic-Tac-Toe
      img.game_title-img--dog(src="./pictures/dog.png", alt="dog")
    +players
    +field 
    +score 
    +modal    