mixin modal(title)
  div.modal-container(id="modal-container" class=attributes.class)
    div.modal
      div.modal-img(id="modal-img")
      p.modal-text(id="modal-text")=title
      +btn('play again')(class="btn--big btn--brown modal-btn" id="playAgain-btn")