mixin modal(title)
  div.modal-container(id="modal-container" class=attributes.class)
    div.modal
      div.modal-img(id="modal-img")
      p.modal-text(id="modal-text")=title
      +playerIcon('play again')(class="playerIcon--big playerIcon--brown modal-btn" id="playAgain-btn")