.game_score {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 300px;
    font: 70px $sulphur;
    line-height: 70px;
    margin-bottom: 5px;

    @include tablet {
      font-size: 60px;
    }

    @include mobile {
      font-size: 50px;
    }
  }

  .score_reset {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    &_btn {
      cursor: pointer;

      &:hover {
        box-shadow: $btnShadow;
      }

      &:active {
        background: $lightBrown;
        transform: translateY(3px);
      }
    }  

  }
