include ../../components/cell/cell

mixin field()
  div.game_field   
        +cell
        +cell
        +cell
        +cell 
        +cell 
        +cell 
        +cell 
        +cell 
        +cell