.game_field {
    max-width: 530px;
    width: 100%;
    height: 530px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 8px;

    @include tablet {
      max-width: 470px;
      height: 470px;
      margin-bottom: 20px;
    }

    @include mobile {
      max-width: 376px;
      height: 376px;
      margin-bottom: 10px;
    }
  }